{% extends 'base.html' %} {% block content %}

<div class="container" style="padding-top: 20px;padding-bottom:20px;margin-top:20px;">
    {% if images %} {% for obj in images %}
    <div class="container">
        <img src="{{obj.image.url}}" alt="Norway" style="width:100%;padding:5px;">
        <div class="text-block">
            <h4>REUNION-2k20</h4>
            <p>{{obj.text}}</p>
        </div>
    </div>
    {% endfor %} {% else %}
    <h4> NO GALLERY FOUND </h4>
    {% endif %}
</div>
{% endblock %}