{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container" style="padding-top: 20px;padding-bottom:20px;margin-top:20px;">
    {% for obj in images %}
    <div class="container">
        <a class="light" style="float: right;position:absolute;margin-left:20px;margin-top:20px;" href="{% url 'delete_image' pk=obj.pk %}"><img src="{% static 'img/delete_forever-24px.svg' %}" height="50px" width="50px" class="img-fluid btn-danger rounded" title="Delete"></a>
        <img src="{{obj.image.url}}" alt="Norway" style="width:100%;padding:5px;">
        <div class="text-block">
            <h4></h4>
            <p>{{obj.text}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}